.artist-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 10% 2% 10%;
  height: 100%;
  max-width: 100%;
  position: relative;
}
.artist-flex-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.h1-artist {
  color: white;
  font-family: "Rubik dirt", sans-serif;
  margin-bottom: 0.72em;
  font-size: 3.43em;
  line-height: 1.27em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 1.4em;
  margin-bottom: 0.72em;
}
.artist-imagine {
  z-index: -1 !important;
}
.artist-p {
  font-family: Outfit, sans-serif;
  color: #ececec;
  font-size: 1.59em;
  line-height: 2.14em;
  font-weight: 300;
  margin-bottom: 1.5em;
  text-align: justify;
}
.artist-text {
  width: 49%;
  height: auto;
  align-items: center;
}
.artist-image {
  width: 44%;
  top: 16%;
  position: absolute;
  left: 51%;
  z-index: 0;
}
.mobile-stick-set {
  display: none;
  position: absolute;
  bottom: 0%;
  top: -25%;
  right: 18%;
  width: 30em;
  height: 54.93em;
  z-index: 1;
}
.stick-set {
  position: absolute;
  bottom: 0%;
  top: -26%;
  right: 20%;
  width: 30em;
  height: 54.93em;
  z-index: 0;
  animation: updown 6s infinite ease-in-out;
}
@keyframes updown {
  0% {
    top: -26%;
  }
  50% {
    top: -31%;
  }
  100% {
    top: -26%;
  }
}
.img-set {
  width: 46%;
  height: auto;
  vertical-align: middle;
  object-fit: contain;
}
.avatar-set {
  position: relative;
  width: 100%;
  height: 100%;
  /* top: 20px; */
  z-index: 2;
  object-fit: contain;
}
.btn-set-mobile {
  display: none;
}
.mobile .btn-desktop-only {
}

@media only screen and (max-width: 500px) {
  .artist-main-div {
    display: block;
    padding: 15px 15px;
    margin: 15px 0 15px 0;
  }
  .artist-flex-btw {
    display: block;
    align-items: center;
  }
  .img-set {
    width: 100%;
  }
  .h1-artist {
    color: white;
    font-family: "Rubik dirt", sans-serif;
    font-size: 1.3rem;
    line-height: 32px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .artist-p {
    font-size: 15px;
    line-height: 29px;
    font-weight: 300;
    text-align: justify;
  }
  .artist-text {
    width: 100%;
    align-items: center;
  }
  .artist-image {
    display: none;
  }
  .avatar-set {
    position: relative;
    top: 10em;
    z-index: 1;
  }
  .btn-set-mobile {
    display: block;
    padding: 18px 26px !important;
  }
  .btn-desktop-only {
    display: none;
  }
  .set-in-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 11px;
  }
  .mobile-stick-set {
    display: block;
    position: absolute;
    z-index: -1;
    top: 31%;
    bottom: 0;
    right: 0%;
    height: auto;
    animation: up--down 5s infinite ease-in-out;
  }
  .stick-set {
    display: none;
    animation: updown 5s infinite ease-in-out;
  }
  @keyframes up--down {
    0% {
      top: 51%;
    }
    /* 25% {
      top: 52%;
    } */
    50% {
      top: 54%;
    }
    /* 75% {
      top: 52%;
    } */
    100% {
      top: 51%;
    }
  }
}
@media only screen and (max-width: 1450px) {
  .stick-set {
    position: absolute;
    right: 20%;
    top: -25%;
    /* top: 0;
    bottom: 0; */
    animation: up-down 6s infinite ease-in-out;
  }
  @keyframes up-down {
    0% {
      top: -25%;
    }
    50% {
      top: -31%;
    }
    100% {
      top: -25%;
    }
  }
}
