.community-container {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 2em;
}
.community-image {
  position: relative;
}
.avatar-div {
  /* position: relative; */
  width: 46.91em;
  height: 35.45em;
  margin-bottom: 0em;
}
.avatar-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.mask-in {
  max-width: 100%;
  display: inline-block;
}
.mask-icon {
  position: absolute;
  bottom: -10px;
  left: -20px;
  animation: mask-zoom 8s infinite ease-in-out;
}
@keyframes mask-zoom {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}
.bottle-in {
  max-width: 100%;
  display: inline-block;
}
.bottle-icon {
  position: absolute;
  top: -50px;
  right: 16px;
  animation: bottle-rotate 7s infinite ease-in-out;
}
@keyframes bottle-rotate {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
.community-text {
  width: 45%;
  margin-top: 10px;
}
.h1-community {
  margin-top: 0px;
  margin-bottom: 0.72em;
  font-family: "Rubik dirt", sans-serif;
  color: #fff;
  font-size: 3.43em;
  line-height: 1.27em;
  font-weight: 400;
  text-transform: uppercase;
}
.community-p {
  margin-bottom: 1.5em;
  font-family: Outfit, sans-serif;
  color: #ececec;
  font-size: 1.8em;
  line-height: 2.14em;
  font-weight: 300;
  text-align: justify;
}
.btn-div {
  margin-top: 1.5em;
  display: flex;
}
.button-com {
  display: inline-block;
  border: 2px solid #ffc748;
  border-radius: 3px;
  background-image: linear-gradient(84.07deg, #00c555 17%, #00e75e);
  box-shadow: 0 0 10px 1px rgb(0 231 94 / 30%);
}
.btn-margin:hover {
  background-image: linear-gradient(84.07deg, #0f4e28 17%, #0f4e28);
  box-shadow: 0 0 10px 1px rgb(0 231 94 / 30%);
}
.btn-two {
  display: flex;
  padding: 1.18em 2.12em;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 3px;
  box-shadow: 0 0 10px 5px rgb(255 199 72 / 30%);
  max-width: 100%;
}
.btn-hide {
  display: flex;
  padding: 1.18em 2.12em;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 3px;
  box-shadow: 0 0 10px 5px rgb(255 199 72 / 30%);
  max-width: 100%;
}
.btn-hide:hover {
  background-image: linear-gradient(84.07deg, #ffc748 17%, #ffc748);
  cursor: pointer;
}
.btn-margin {
  box-shadow: none;
  opacity: 1;
  cursor: pointer;
  margin-left: 2.5em;
  background-color: transparent;
  background-image: none;
  display: inline-block;
  border: 2px solid #ffc748;
  border-radius: 3px;
  box-shadow: 0 0 10px 1px rgb(0 231 94 / 30%);
}
.social-icon {
}
.btn--p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Outfit, sans-serif;
  color: #000;
  font-size: 1.25em;
  line-height: 1.26em;
  font-weight: 600;
}
.btn--para {
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: Outfit, sans-serif;
  color: #000;
  font-size: 1.25em;
  line-height: 1.26em;
  font-weight: 600;
  color: #ffc748;
}
.btn-icon {
  width: 1.5em;
  height: 1.125em;
  margin-right: 1em;
}
.btn-com {
  width: 100%;
  height: 100%;
  margin-top: auto;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.mobile-avatar {
  display: none;
}
@media only screen and (max-width: 1450px) {
  .mask-icon {
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: -6%;
    animation: mask-zoom 8s infinite ease-in-out;
  }
}
@media only screen and (max-width: 767px) {
  .community-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 2em;
    display: block;
    justify-content: center;

    /* align-items: center; */
  }
  .community-text {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }
  .btn-hide {
    display: none !important;
  }
  .button-com {
    display: none;
  }
  .btn-div {
    margin-top: 3.5em;
    display: flex;
    justify-content: center;
  }
  .btn-margin {
    margin: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .h1-community {
    color: white;
    font-family: "Rubik Dirt", sans-serif;
    font-size: 1.3rem;
    line-height: 32px;
    font-weight: 400;
    text-align: left;
    z-index: 1;
  }
  .community-p {
    font-family: Outfit, sans-serif;
    color: #ececec;
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
  }
  .btn-margin {
    /* padding: 14px 20px !important; */
    font-size: 0.9em !important;
    margin-top: -20px !important;
  }
  .community-image {
    display: none;
  }
  .avatar-mobile {
    display: block;
    width: 100%;
  }
  .avatar-inner {
    width: 100%;
    height: 100%;
  }
  .mobile-avatar {
    display: block;
    position: relative;
  }
  .mask-icon {
    position: absolute;
    z-index: 1;
    width: 7em;
    display: block;
    bottom: 0%;
    top: auto;
    right: auto;
    left: 2%;
    animation: mask-zoom 6s infinite ease-in-out;
  }
  .mask-inner {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  .bottle-icon {
    z-index: 1;
    width: 7em;
    display: block;
    position: absolute;
    left: auto;
    top: -7%;
    right: 2%;
    bottom: auto;
    animation: bottle-rotate 6s infinite ease-in-out;
  }
  .bottle-inner {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
}
