.custom-btn {
    position: absolute;
    top: -4px;
    font-family: Outfit, sans-serif;
    color: #000;
    font-size: 1.25em;
    line-height: 1.26em;
    font-weight: 600;
    display: inline-block;
    border: 3px solid #ffc748;
    border-radius: 6px;
    padding: .6em 1.5em;
    margin-bottom: 0px;
    background-image: linear-gradient(84.07deg, #00c555 17%, #00e75e);
    box-shadow: 0 0 10px 1px rgb(0 231 94);
}
.btn-icon{
    width: 25px;
    height: 20px;
    margin-right: 20px;
}