.main-div {
    position: relative;
}
.design-in {
    z-index: 0;
}
.desktop-stone-icon {
    z-index: 1;
    margin: auto;
    position: absolute;
    top: -10px;
    left: 46%;
    animation: stone-flip 3s infinite ease-in-out;
}
.mobile-stone-icon {
    display: none;
    z-index: 1;
    margin: auto;
    position: absolute;
    top: 15px;
    left: 48%;
    animation: stone-flip 3s infinite ease-in-out;
}
@keyframes stone-flip {
    0% {
        transform: rotateY(0deg);
    }
    30% {
        transform: rotateY(40deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
.inner-text {
    position: absolute;
    top: 0;
    padding-top: 30px;
    padding-bottom: 10px;
}
.h1-design {
    color: #00c555;
    font-family: "Rubik dirt", sans-serif;
    font-size: 2.9rem;
    line-height: 1.27em;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}
.p-design {
    color: white;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 1.62em;
    line-height: 1.27em;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 38px;
}
@media only screen and (max-width: 500px) {
    .inner-text {
        top: 0;
        padding: 10px 15px;
    }
    .h1-design {
        font-size: 1.3rem;
        line-height: 32px;
    }
    .p-design {
        margin-bottom: 0;
        padding: 0 15px;
        color: white;
        text-align: center;
        font-family: Outfit, sans-serif;
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
    }
    .mobile-stone-icon {
        top: 10px;
        left: 40%;
        display: block;
    }
    .desktop-stone-icon {
        display: none;
    }
}
@media only screen and (max-width: 1450px) {
    .inner-text {
        position: absolute;
        top: 0;
        padding-top: 30px;
        padding-bottom: 10px;
    }
}

/*slider section start*/
.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    /*height: 100%;*/
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
}
.slider-image {
    margin-left: 15px;
    margin-right: 15px;
    width: 23.5em;
    height: 23em;
}
@media (max-width: 500px) {
    .each-slide > div {
        width: 350px;
    }
    .lazy {
        display: none;
    }
    .design-in {
        padding: 40px 20px;
    }
}
.slider-container {
    padding: 3% 0% 8% 0%;
}
@media (max-width: 500px) {
    .slider-container {
        padding: 3% 8% 7% 8%;
    }
    .main-div {
        height: 100%;
    }
}
.react-slideshow-container + ul.indicators .each-slideshow-indicator:before {
    width: 12px !important;
    height: 12px !important;
}

.active:before {
    background: #00e75e !important;
}
.react-slideshow-container + ul.indicators .each-slideshow-indicator:hover,
.react-slideshow-container + ul.indicators .each-slideshow-indicator.active,
.react-slideshow-container + ul.indicators .each-slideshow-indicator:focus {
    opacity: 1 !important;
    outline: 0;
}

.slider-bg {
    position: absolute;
    z-index: 1;
}
.slider-text {
    position: relative;
}
.slider-section {
    width: 100%;
    padding-top: 1.25em;
    padding-bottom: 0em;
    position: relative;
}
