@import url("https://fonts.googleapis.com/css2?family=rubik-dirt:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Outfit:300,regular,500,600,700,800,900");
@import "home.css";
@import "intro.css";
@import "design.css";
@import "artist.css";
@import "vision.css";
@import "sidebar.css";
@import "footer.css";
@import "features.css";
@import "community.css";
@import "roadmap.css";
@import "team.css";
@import "faqs.css";
@font-face {
  font-family: "Rubik Dirt";
  src: url("/fonts/Rubik-Dirt-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  background: #141514;
  overflow-x: hidden;
  font-size: 9.61667px;
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  body {
    font-size: 10px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1000px) {
  body {
    font-size: 6.9167px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1100px) {
  body {
    font-size: 8.216px;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  body {
    font-size: 9.5667px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  body {
    font-size: 9.70667px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  body {
    font-size: 10.51667px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1430px) {
  body {
    font-size: 11.21667px;
  }
}
@media only screen and (min-width: 1430px) and (max-width: 1450px) {
  body {
    font-size: 11.508px;
  }
}
@media only screen and (min-width: 1450px) and (max-width: 1500px) {
  body {
    font-size: 11.65667px;
  }
}
@media only screen and (min-width: 1500px) and (max-width: 1600px) {
  body {
    font-size: 12.1667px;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1700px) {
  body {
    font-size: 12.7667px;
  }
}
@media only screen and (min-width: 1700px) and (max-width: 1750px) {
  body {
    font-size: 13.567px;
  }
}
@media only screen and (min-width: 1750px) and (max-width: 1800px) {
  body {
    font-size: 13.71667px;
  }
}
@media only screen and (min-width: 1800px) and (max-width: 1900px) {
  body {
    font-size: 14.1667px;
  }
}
@media only screen and (min-width: 1900px) and (max-width: 2000px) {
  body {
    font-size: 14.3667px;
  }
}
@media only screen and (min-width: 2000px) and (max-width: 2100px) {
  body {
    font-size: 15.4667px;
  }
}
@media only screen and (min-width: 2100px) {
  body {
    font-size: 16.2067px;
  }
}@media only screen and (min-width: 3300px) and (max-width: 3450px) {
  body {
    font-size: 28.9583px;
  }
}
a {
  margin: 0;
}
