@import url("https://fonts.googleapis.com/css2?family=rubik-dirt:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Outfit:300,regular,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Lexend+Deca&family=Notable&family=Podkova&family=Sarabun&family=Share&family=Wire+One&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  background: #141514;
  overflow-x: hidden;
}
a {
  /*padding: 0 !important;*/
  margin: 0;
}

/*Header CSS Start*/
.banner {
  background: url(../public/images/banner-bg.png) no-repeat;
  height: 100vh;
  background-size: 100% 100%;
  object-fit: contain;
}
.header {
  display: flex;
  justify-content: space-evenly;
  padding-right: 10%;
  padding-left: 10%;
  margin-right: auto;
  margin-left: auto;
}
.left-side-header {
  display: flex;
}
.left-side-header > a {
  margin-right: 2.27em;
  transition: all 500ms ease;
  font-family: Outfit, sans-serif;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.26em;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 0 5px 0;
}
.left-side-header > a:hover {
  color: #00c555;
}
.logo {
  margin-top: 10px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  margin-right: 2.27em;
}
.right-side-header {
  display: flex;
}
.right-side-header > a {
  margin-right: 2.27em;
  transition: all 500ms ease;
  font-family: Outfit, sans-serif;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.26em;
  font-weight: 600;
  text-decoration: none;
  padding: 9px 0 5px 0;
}
.right-side-header > a:hover {
  color: #00c555;
}
.social-links {
  margin-right: 20px;
  padding-top: 10px;
  cursor: pointer;
  transition: top ease 1s;
}
.social-links:hover {
  position: relative;
  top: -3px;
  transition: top ease 5s;
}
.header-btn {
  position: relative;
  margin-left: 20px;
}
@media only screen and (max-width: 500px) {
  .header {
    display: none;
  }
  .banner {
    background: url(../public/images/mobile-banner.jpg) no-repeat;
    background-size: 100% 100%;
    height: 80vh;
  }
}

/*Header CSS end*/

/*mobile header start*/
.menu-btn-left {
  width: 60px;
  height: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: 1;
  border: 1.5px solid #ffc748;
  border-radius: 50%;
}
.menu-btn-right {
  margin-left: auto;
  width: 60px;
  height: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: 1;
  border: 1.5px solid #ffc748;
  border-radius: 50%;
}
.upper-border-mobile {
  margin-bottom: -5px;
}
.bottom-border-mobile {
  margin-top: -12px;
}
.mobile-logo {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  z-index: 60;
  display: none;
  overflow: hidden;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 0.3em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  backdrop-filter: blur(5px);
}
.mobile-header {
  display: none;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
}
.mobile-nav-content {
  display: flex;
}

.container {
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 15px;
  height: 1px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 500px) {
  .mobile-header {
    display: block;
  }
}
@media only screen and (max-width: 500px) {
  .nav {
    display: block;
  }
}
/*mobile header end*/

/*custom button*/
.btn-container {
  position: absolute;
  top: -5px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}
.custom-btn {
  display: flex;
  justify-content: center;
  width: 220px;
  font-family: Outfit, sans-serif;
  color: #000;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #ffc748;
  border-radius: 6px;
  padding: 0.8em 0;
  background-image: linear-gradient(84.07deg, #00c555 17%, #00e75e);
  box-shadow: 0 0 10px 1px rgb(0 231 94);
}
.custom-btn:hover {
  background-image: linear-gradient(84.07deg, #ffc748 17%, #ffc748);
  cursor: pointer;
}
.btn-icon {
  margin-right: 12px;
}
/*custom button*/

/*Main Heading paragraph start*/
.main-heading {
  margin: 0 !important;
  z-index: 1;
  direction: ltr;
  font-family: "Rubik dirt", sans-serif;
  color: #ececec;
  font-size: 1.4em;
  line-height: 2.27em;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.main-heading > h1 > span {
  color: #00c555;
}
.mobile-h1 {
  display: none;
}
@media only screen and (max-width: 500px) {
  .main-heading {
    font-size: 0.7em;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .desktop-h1 {
    display: none;
  }
  .mobile-h1 {
    display: block;
  }
}
/*Main Heading paragraph end*/
/*Join Sneaky Goblin button start*/
.join-btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.join-button {
  font-family: Outfit, sans-serif;
  color: #000;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #ffc748;
  border-radius: 6px;
  padding: 1.2em 1.8em;
  background-image: linear-gradient(84.07deg, #00c555 17%, #00e75e);
  box-shadow: 0 0 10px 1px rgb(0 231 94);
}
.join-button:hover {
  background-image: linear-gradient(84.07deg, #ffc748 17%, #ffc748);
  cursor: pointer;
}
/*MJoin Sneaky Goblin button end*/
/* main container footer start*/
.main-container-footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-btm-border {
  display: none;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
}
.main-container-footer > p {
  padding: 0 1em;
  margin: 0;
  font-family: Outfit, sans-serif;
  color: #ececec;
  font-size: 1.45em;
  font-weight: 600;
  text-align: center;
}
@media only screen and (max-width: 500px) {
  .main-container-footer > p {
    font-size: 0.87em;
    font-weight: 400;
  }
  .main-container-footer {
    bottom: 20%;
  }
  .home-btm-border {
    display: block;
  }
}
/*main container footer end*/

/* intro page css  start*/

.second-container {
  background: #141514;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}
.inner-container {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  /* flex-wrap: wrap; */
}
.left-text-side {
  text-align: left;
  width: 50%;
  margin-right: 40px;
}

.h1-text {
  color: white;
  font-family: "dirt", sans-serif;
  font-size: 50px;
  line-height: 60px;
  font-weight: bolder;
  text-transform: uppercase;
}
.text-green {
  color: #00c555;
}
.p-text {
  margin-bottom: 40px;
  font-family: Outfit, sans-serif;
  color: #ececec;
  font-size: 2.1em;
  line-height: 40px;
  font-weight: 300;
  text-align: justify;
}
.btn-discord {
  margin-bottom: 0px;
  font-family: Outfit, sans-serif;
  color: #000;
  font-size: 1.25em;
  line-height: 1.26em;
  font-weight: 600;
  border: 2px solid #ffc748;
  border-radius: 5px;
  padding: 15px 30px;
  background-image: linear-gradient(84.07deg, #00c555 17%, #00e75e);
  box-shadow: 0 0 10px 1px rgb(0 231 94);
}
.btn-discord:hover {
  background-image: linear-gradient(84.07deg, #ffc748 17%, #ffc748);
  cursor: pointer;
}

.third-container {
  background: #141514;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  margin: 50px 0;
}
.inner-second-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  padding-left: 6%;
  padding-right: 10%;
}
.p-second-text {
  margin-bottom: 1.5em;
  font-family: Outfit, sans-serif;
  color: #ececec;
  font-size: 20px;
  line-height: 45px;
  font-weight: 300;
  text-align: justify;
}
.right-text-side {
  width: 50%;
  margin-left: 50px;
}
.left-image-side {
  width: 50%;
  text-align: left;
}
@media only screen and (max-width: 500px) {
  .intro-container {
    display: block;
    padding: 15px 20px;
    margin: 20px 0;
  }
  .h1-text {
    color: white;
    font-family: "dirt", sans-serif;
    font-size: 21px;
    line-height: 32px;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .second-container {
    display: block;
  }
  .inner-container {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  .left-text-side {
    text-align: left;
    width: 100%;
    margin-bottom: 30px;
  }
  .inner-second-container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .left-image-side {
    width: 100%;
    order: 2;
  }
  .right-text-side {
    width: 100%;
    margin-left: 0;
    order: 1;
  }
  .right-image-side {
    width: 100%;
    text-align: center;
  }
  .p-text {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 29px;
  }
  .p-second-text {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 29px;
  }
  .third-container {
    margin: 10px 0 !important;
    padding: 10px 0 !important;
  }
  .intro-btn-mobile {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 15px 20px !important;
  }
}

/* intro page css end */

/* design page css start */

.main-div {
  background: url(../public/background-line.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.inner-text {
  padding-top: 10px;
  padding-bottom: 10px;
}
.h1-design {
  color: #00c555;
  font-family: "Rubik dirt", sans-serif;
  font-size: 50px;
  line-height: 65px;
  font-weight: bolder;
  text-transform: uppercase;
}
.p-design {
  color: white;
  text-align: center;
  font-family: Outfit, sans-serif;
  font-size: 24px;
  line-height: 52px;
  font-weight: 600;
}
@media only screen and (max-width: 500px) {
  .inner-text {
    padding: 15px 15px;
  }
  .h1-design {
    font-size: 21px;
    line-height: 32px;
  }
  .p-design {
    color: white;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 12px;
    line-height: 29px;
    font-weight: 300;
  }
}

/* design page css end */

/* artist page css */

.artist-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 10%;
}
.artist-flex-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.artist-p {
  font-family: Outfit, sans-serif;
  color: #ececec;
  font-size: 1.3em;
  line-height: 50px;
  font-weight: 300;
  text-align: justify;
}
.artist-text {
  width: 49%;
  align-items: center;
}
.artist-image {
  text-align: left;
  background: url(../public/dots.png) no-repeat;
  background-size: 100% 100%;
  height: 50vh;
  width: 48%;
  position: relative;
}
.avatar-set {
  position: absolute;
  z-index: 3;
  width: 100%;
  text-align: center;
}
.btn-set-mobile {
  display: none;
}
/* .stick-image {
  position: absolute;
  z-index: 2;
  top: -40%;
  animation: updown 4s infinite ease-in-out;
} */
@keyframes updown {
  0% {
    top: -40%;
  }
  50% {
    top: -45%;
  }
  100% {
    top: -40%;
  }
}
@media only screen and (max-width: 500px) {
  .artist-main-div {
    display: block;
    padding: 0 15px;
  }
  .artist-flex-btw {
    display: block;
    align-items: center;
  }
  .artist-p {
    font-size: 12px;
    line-height: 29px;
    font-weight: 300;
    text-align: justify;
  }
  .artist-text {
    width: 100%;
    align-items: center;
  }
  .artist-image {
    width: 100%;
    margin-top: 40px;
  }
  .avatar-set {
    top: 100px;
  }
  .btn-set-mobile {
    display: block;
    padding: 15px 20px !important;
  }
  .btn-desktop-only {
    display: none;
  }
  .set-in-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
}

/* artist page css end */

/* vision page css start */

.vision-main-div {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
.vision-h1 {
  color: white;
  font-family: "Rubik dirt", sans-serif;
  font-size: 50px;
  line-height: 65px;
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring {
  position: relative;
  animation: scaleup 4s infinite ease-in-out;
}
@keyframes scaleup {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.5);
  }
}
.vision-p {
  color: white;
  margin-bottom: 40px;
  margin-top: -10px;
  font-family: Outfit, sans-serif;
  font-size: 24px;
  line-height: 52px;
  font-weight: 400;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .vision-main-div {
    display: block;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }
  .vision-h1 {
    font-size: 21px;
    line-height: 32px;
    display: block;
  }
  .vision-p {
    color: white;
    margin-bottom: 40px;
    margin-top: -10px;
    font-size: 12px;
    line-height: 29px;
    font-weight: 300;
    text-align: center;
  }
}

/* vision page css end */

/*SideBar css start*/
.sideBar {
  position: fixed !important;
  right: 0;
  height: 100%;
  z-index: 50;
  width: 100%;
  background: #000000;
  overflow: hidden;
}
.sideBar-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-links > a {
  display: block;
  font-size: 1.2em;
  margin-top: 2em;
  text-align: center;
  transition: all 500ms ease;
  font-family: Outfit, sans-serif;
  color: #fff;
  line-height: 1.26em;
  font-weight: 600;
  text-decoration: none;
}
.hideSideBar {
  display: none;
}
.social-media {
  margin-top: 6px;
  display: flex;
  justify-content: center;
}
.sideBar-SlideIn {
  animation-name: sideBar_SlideIn;
  animation-duration: 1s;
  animation-delay: 0s;
  position: relative;
}
@keyframes sideBar_SlideIn {
  0% {
    right: -1000px;
  }
  100% {
    right: 0px;
  }
}
.sideBar-SlideOut {
  animation-name: anime-sideBar-SlideOut;
  animation-duration: 1s;
  animation-delay: 0s;
  position: relative;
}
@keyframes anime-sideBar-SlideOut {
  0% {
    right: 0px;
  }
  100% {
    right: -480px;
  }
}
/*SideBar css end*/

/* key features css start */

.feature-div {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5%;
}
.head-feature {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.key-h1 {
  color: white;
  font-family: "Rubik dirt", sans-serif;
  font-size: 50px;
  line-height: 65px;
  font-weight: bolder;
  text-transform: uppercase;
}
.feature-cards {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-head {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Outfit, sans-serif;
  color: #00c555;
  font-size: 1.6em;
  line-height: 1.75em;
  font-weight: 900;
  margin-bottom: 15px;
}
.card-p {
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: Outfit, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  font-weight: 300;
}
.card-f {
  color: white;
  font-size: 16px;
  background: #191b19;
  margin-bottom: 5em;
  padding: 1.5em 0.9em;
  text-align: center;
  width: 100%;
  height: 26em;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}
.safe-icon {
  position: absolute;
  top: 75%;
  align-items: center;
  width: 89%;
}
.key-div {
  margin-bottom: -20px;
  animation: rotation 10s infinite ease-in-out;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(350deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media only screen and (max-width: 500px) {
  .feature-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .key-h1 {
    font-size: 21px;
    line-height: 32px;
  }
  .card-f {
    margin-bottom: 200px !important;
  }
  .card-head {
    font-size: 20px;
    line-height: 30px;
    font-weight: 900;
  }
  .card-p {
    font-size: 11px;
    line-height: 20px;
    font-weight: 300;
  }
  .card-f {
    margin-bottom: 5em;
    padding: 1.5em 0.9em;
    text-align: center;
    width: 100%;
    height: 9em;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
  }
  .safe-icon {
    position: absolute;
    top: 75%;
    align-items: center;
    width: 89%;
  }
}

/* key features css end */

/*Footer section start*/
.footer {
  margin-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
}
/*.footer-image{*/
/*  background: url(../public/images/sidebar-border.png);*/
/*  background-size: 100% 100%;*/
/*  height: 1px;*/
/*}*/
.footer-content {
  margin: 1.5em 0;
  display: flex;
  justify-content: space-between;
}
.rights-Reserved {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  margin-bottom: 0px;
  font-family: Outfit, sans-serif;
  color: #ececec;
  font-size: 1.1em;
  line-height: 1.81em;
  font-weight: 400;
}
.footer-link-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-links {
  margin-right: 40px;
}
.footer-links:hover {
  cursor: pointer;
  position: relative;
  top: -3px;
  transition: top 200ms ease-in;
  /*transition: top ease-in-out 5s;*/
}
.terms-conditions {
  display: flex;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  margin-bottom: 0px;
  font-family: Outfit, sans-serif;
  color: #ececec;
  font-size: 1.1em;
  line-height: 1.81em;
  font-weight: 400;
}
.terms-conditions > p:hover {
  cursor: pointer;
  color: #00c555;
}
.terms-border {
  border-right: 1px solid #ececec;
  margin: 20px 30px;
}
.footer-nft-Icons {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
/*Footer section end*/
/* community page css start */

.community-container {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.community-image {
}
.community-text {
  width: 55%;
  margin-top: 10px;
  margin-left: 30px;
}
.h1-community {
  color: white;
  font-family: "Rubik dirt", sans-serif;
  font-size: 40px;
  line-height: 55px;
  font-weight: bolder;
  text-transform: uppercase;
}
.community-p {
  font-family: Outfit, sans-serif;
  color: #ececec;
  font-size: 1.4em;
  line-height: 50px;
  font-weight: 300;
  text-align: justify;
}
.btn-div {
  margin-top: 40px;
  display: flex;

}
.btn-margin {
  margin-left: 50px;
  background: #141514 !important ;
  color: #ffc748 !important;
  box-shadow: 0 0 10px 3px rgb(0 231 94 / 20%) !important;
}
.social-icon {
}
.mobile-avatar {
  display: none;
}
@media only screen and (max-width: 500px) {
  .community-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    display: block;
    justify-content: center;

    /* align-items: center; */
  }
  .community-text {
    width: 100%;
    margin-top: 10px;
  }
  .btn-hide {
    display: none !important;
  }
  .btn-margin {
    margin: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .h1-community {
    color: white;
    font-family: "Rubik dirt", sans-serif;
    font-size: 21px;
    line-height: 32px;
    text-align: left;
  }
  .community-p {
    font-family: Outfit, sans-serif;
    color: #ececec;
    font-size: 12px;
    line-height: 25px;
    font-weight: 300;
  }
  .btn-margin {
    padding: 10px 20px !important;
    font-size: 12px !important;
    margin-top: -20px !important;
  }
  .community-image {
    display: none;
  }
  .mobile-avatar {
    display: block;
  }
}

/* community page css end */
/* roadmap page css start */
.roadmap-container {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  color: #fff;
  z-index: 2;
}
.roadmap-background{
  position: relative;
  z-index: 1;
}
.roadmap-h1 {
  margin-top: 100px;
  color: white;
  font-family: "Rubik dirt", sans-serif;
  font-size: 50px;
  line-height: 65px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}
.roadmap-stepper{
  z-index: 3;
}
.roadmap-text-container{
  width: 100%;
  position: relative;
  margin-top: 80px;
}
.Green-dots-icon{
  position: absolute;
  left: -22px;
  margin-top: 25px;
  animation: dotPulse 3s infinite ease-in-out;
}
@keyframes dotPulse {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.5);
  }
}
.roadmap-section{
  display:flex;
  margin-bottom: 50px;

}
.roadmap-percentage{
  margin: 0 20px;
  font-family: Outfit, sans-serif;
  color: #ececec;
  font-size: 2.81em;
  line-height: 1.55em;
  font-weight: 900;
}
.disabled-roadmap-percentage{
  margin: 0 20px;
  font-family: Outfit, sans-serif;
  color: #505050;
  font-size: 2.81em;
  line-height: 1.55em;
  font-weight: 900;
}
.data-roadmap{
  margin-left: 30px;
}
.roadmap-dotted-lines{
  margin-top: 30px;
}
.disabled-duration{
  margin-top: 0px;
  margin-bottom: 1em;
  font-family: Outfit, sans-serif;
  color: #505050;
  font-size: 1.37em;
  line-height: 1.4em;
  font-weight: 600;
}
.duration{
  margin-top: 0px;
  margin-bottom: 1em;
  font-family: Outfit, sans-serif;
  color: #ffc748;
  font-size: 1.37em;
  line-height: 1.4em;
  font-weight: 600;
}
.disabled-phase{
  margin-top: 0px;
  margin-bottom: 0.3em;
  font-family: Outfit, sans-serif;
  color: #505050;
  font-size: 2.51em;
  line-height: 1.1em;
  font-weight: 900;
}
.phase{
  margin-top: 0px;
  margin-bottom: 0.3em;
  font-family: Outfit, sans-serif;
  color: #00c555;
  font-size: 2.51em;
  line-height: 1.1em;
  font-weight: 900;
}
.disabled-heading{
  font-family: Outfit, sans-serif;
  color: #505050;
  font-size: 1.3em;
  line-height: 1.53em;
  font-weight: 400;
}
.heading{
  font-family: Outfit, sans-serif;
  color: #fff;
  font-size: 1.3em;
  line-height: 1.53em;
  font-weight: 400;
}
.heading-div {
  display:flex;
  margin-bottom: 16px;
}
.roadmap-Dot{
  padding: 4px 10px 15px 0;
  font-family: Outfit, sans-serif;
  color: #fff;
  font-size: 2em;
  line-height: .3em;
  font-weight: 700;
}

/* roadmap page css end */

