.banner {
    position: relative;
    background-size: cover;
    height: 100vh;
}
.home-bg {
    /*height: 100%;*/
    /*width: 100%;*/
    /*object-fit: cover;*/
    /*position: absolute;*/
    /*z-index: 1;*/
}
.mobile-bg {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    z-index: 1;
}
.home-text {
    position: relative;
    z-index: 2;
    height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
}
.left-side-header {
    display: flex;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
}
.left-side-header > a {
    margin-left: 2.27em;
    transition: all 500ms ease;
    font-family: Outfit, sans-serif;
    color: #fff;
    font-size: 1.37em;
    line-height: 1.26em;
    font-weight: 600;
    text-decoration: none;
}
.left-side-header > a:hover {
    color: #00c555;
}
.left-menu-items {
    height: 0.08em;
    width: 100%;
    background-image: linear-gradient(to left, #ffba00 , transparent);
}
.right-menu-items {
    height: 0.08em;
    width: 100%;
    background-image: linear-gradient(to right, #ffba00 , transparent);
}


.logo {
    width: 12.62em;
    height: 9.375em;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}
.right-side-header {
    display: flex;
    align-items: center;
}
.right-side-header > a {
    margin-right: 2.27em;
    transition: all 500ms ease;
    font-family: Outfit, sans-serif;
    color: #fff;
    font-size: 1.37em;
    line-height: 1.26em;
    font-weight: 600;
    text-decoration: none;
}
.right-side-header > a:hover {
    color: #00c555;
}
.main-social-links{
    margin-right: 1.52em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-links {
    margin-right: 1.12em;
    /*padding-top: 10px;*/
    cursor: pointer;
    transition: top ease 1s;
}
.social-links:hover {
    position: relative;
    top: -3px;
    transition: top ease 5s;
}
.header-btn {
    position: relative;
    margin-left: 20px;
}
/*@media only screen and (min-width: 1400px) and (max-width: 1500px) {*/
/*  .left-side-header > a,*/
/*  .right-side-header > a {*/
/*    font-size: 20px;*/
/*    padding: 16px 0 10px 0;*/
/*  }*/
/*  .header {*/
/*    padding-right: 7%;*/
/*    padding-left: 7%;*/
/*  }*/
/*  .social-links {*/
/*    padding-top: 17px;*/
/*  }*/
/*  .logo {*/
/*    margin-top: 20px;*/
/*  }*/
/*  .menu-items {*/
/*    margin-top: 40px;*/
/*  }*/
/*  .main-heading {*/
/*    font-size: 1.6em;*/
/*    margin-top: 30px;*/
/*  }*/
/*}*/
@media only screen and (max-width: 500px) {
    .header {
        display: none;
    }
    .banner {
        background: url(../public/images/mobile-banner.jpg) no-repeat;
        background-size: 100% 100%;
        height: 80vh;
    }
}

/*Header CSS end*/

/*mobile header start*/
.menu-btn-left {
    width: 60px;
    height: 60px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: 1;
    border: 1.5px solid #ffc748;
    border-radius: 50%;
}
.menu-btn-right {
    margin-left: auto;
    width: 60px;
    height: 60px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: 1;
    border: 1.5px solid #ffc748;
    border-radius: 50%;
}
.upper-border-mobile {
    margin-bottom: -5px;
}
.bottom-border-mobile {
    margin-top: -12px;
}
.mb-header-color {
    background: #000000;
}
.mobile-logo {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    z-index: 999;
    display: none;
    overflow: hidden;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    padding-top: 0.3em;
    padding-bottom: 1em;
    /*padding-left: 1.5em;*/
    opacity: 1;
    backdrop-filter: blur(5px);
}
.mobile-header {
    padding-top: 10px;
    z-index: 5;
    display: none;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
}
.mobile-nav-content {
    display: flex;
    justify-content: center;
}

.container-mobile-header {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 15px;
    height: 1px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 500px) {
    .mobile-header {
        display: block;
    }
}
@media only screen and (max-width: 500px) {
    .nav {
        display: block;
    }
}
/*mobile header end*/

/*custom button*/
.btn-container {

}
.custom-btn {
    display: flex;
    align-items: center;
    font-family: Outfit, sans-serif;
    color: #000;
    font-size: 1.24em;
    line-height: 1.16em;
    font-weight: 600;
    border: 1px solid #ffc748;
    border-radius: 3px;
    padding: 1.11em 2.12em;
    background-image: linear-gradient(84.07deg, #00c555 17%, #00e75e);
    box-shadow:  #ffc748 0px 1px 3px;
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
}
.custom-btn:hover {
    background-image: linear-gradient(84.07deg, #ffc748 17%, #ffc748);
    cursor: pointer;
}
.btn-icon {
    margin-right: 12px;
}
/*custom button*/

/*Main Heading paragraph start*/

.main-heading {
    margin-top: 3.4em;
    z-index: 1;
    direction: ltr;
    font-family: "Rubik dirt", sans-serif;
    color: #ececec;
    letter-spacing: 0.09em;
    font-size: 1.7em;
    line-height: 2.27em;
    font-weight: 400;
    font-style: inherit;
    text-align: center;
    text-transform: uppercase;
}
.main-heading > h1 > span {
    color: #00c555;
}
.mobile-h1 {
    display: none;
}
@media only screen and (max-width: 500px) {
    .main-heading {
        padding-top: 70px;
    }
    .desktop-h1 {
        display: none;
    }
    .mobile-h1 {
        margin-top: 0px;
        margin-bottom: 0.6em;
        opacity: 1;
        direction: ltr;
        font-family: "Rubik dirt", sans-serif;
        color: #ececec;
        font-size: 0.9em;
        line-height: 1.47em;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        display: block;
    }
}
/*@media only screen and (min-width: 1400px) and (max-width: 1500px) {*/
/*    .main-heading {*/
/*        font-size: 24px;*/
/*        letter-spacing: 1px;*/
/*        line-height: 60px;*/
/*        padding-top: 5px !important;*/
/*    }*/
/*}*/
/*Main Heading paragraph end*/
/*Join Sneaky Goblin button start*/
.join-btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.join-button {
    font-family: Outfit, sans-serif;
    color: #000;
    vertical-align: middle;
    font-size: 1.25em;
    line-height: 1.26em;
    font-weight: 600;
    border: 2px solid #ffc748;
    border-radius: 3px;
    padding: 1.5em 2.12em;
    background-image: linear-gradient(84.07deg, #00c555 17%, #00e75e);
    box-shadow: 0 0 10px 1px rgb(0 231 94);
}
.join-button:hover {
    background-image: linear-gradient(84.07deg, #ffc748 17%, #ffc748);
    cursor: pointer;
}
/*MJoin Sneaky Goblin button end*/
/* main container footer start*/
.main-container-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-btm-border {
    display: none;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
}
.main-container-footer > p {
    padding: 0 1em;
    margin: 0;
    font-family: Outfit, sans-serif;
    color: #ececec;
    font-size: 1.75em;
    font-weight: 600;
    text-align: center;
}
@media only screen and (max-width: 500px) {
    .main-container-footer {
        z-index: 0;
    }
    .main-container-footer > p {
        font-size: 1em;
        font-weight: 400;
    }
    .main-container-footer {
        bottom: 20%;
    }
    .home-btm-border {
        display: block;
    }
    .join-button {
        padding: 1.2em 1.4em;

    }
}
