.second-container {
  background: #141514;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.3em;
}
.inner-container {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  /* flex-wrap: wrap; */
}
.left-text-side {
  text-align: left;
  width: 49%;
}
/*.right-image-side {*/
/*  width: 41.81em;*/
/*  height: 40.62em;*/
/*}*/
.h1-text {
  color: white;
  font-family: "Rubik dirt", sans-serif;
  letter-spacing: 0.04em;
  font-size: 3.43em;
  line-height: 1.27em;
  font-weight: 400;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0.7em;
  margin-bottom: 0.72em;
}
.btn-icon {
  width: 1.5em;
  height: 1.125em;
  margin-right: 1em;
}
.text-green {
  color: #00c555;
}
.p-text {
  margin-bottom: 1.5em;
  margin-top: 0;
  font-family: Outfit, sans-serif;
  color: #ececec;
  font-size: 1.569em;
  line-height: 2.14em;
  font-weight: 300;
  text-align: justify;
}
.btn-discord {
  margin-bottom: 0;
  font-family: Outfit, sans-serif;
  color: #000;
  font-size: 1.25em;
  line-height: 1.26em;
  font-weight: 600;
  border: 2px solid #ffc748;
  border-radius: 3px;
  padding: 1.18em 2.12em;
  background-image: linear-gradient(84.07deg, #00c555 17%, #00e75e);
  box-shadow: 0 0 10px 1px rgb(0 231 94);
}
.btn-discord:hover {
  background-image: linear-gradient(84.07deg, #ffc748 17%, #ffc748);
  cursor: pointer;
}
.avatar-1 {
  width: 41.81em;
  height: 40.62em;
}
.avatar-2 {
  width: 46.56em;
  height: 45.62em;
}
.third-container {
  background: #141514;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.4em;
  margin-top: 3em;
  margin-bottom: 1.6em;
}
.inner-second-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  padding-left: 6%;
  padding-right: 10%;
}
.p-second-text {
  margin-bottom: 1.5em;
  font-family: Outfit, sans-serif;
  color: #ececec;
  font-size: 1.69em;
  line-height: 2.14em;
  font-weight: 300;
  text-align: justify;
}
.right-text-side {
  width: 49%;
  margin-left: -4.3em;
}
/*.left-image-side {*/
/*  width: 46.56em;*/
/*  height: 45.62em;*/
/*}*/
@media only screen and (max-width: 767px) {
  .avatar-1 {
    width: 351px;
    height: 340px;
  }
  .avatar-2 {
    width: 351px;
    height: 340px;
  }
  .intro-container {
    display: block;
    padding: 5px 20px;
    margin: 10px 0;
  }
  .h1-text {
    color: white;
    font-family: "Rubik dirt", sans-serif;
    font-size: 1.75em;
    text-transform: uppercase;
  }
  .heading-align {
    margin-top: 0;
    margin-bottom: 0.72em;
  }
  .second-container {
    display: block;
    margin-top: 2.5em;
  }
  .inner-container {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  .left-text-side {
    text-align: left;
    width: 100%;
    margin-bottom: 30px;
  }
  .inner-second-container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .left-image-side {
    width: 100%;
    order: 2;
  }
  .right-text-side {
    width: 100%;
    margin-left: 0;
    order: 1;
  }
  .right-image-side {
    width: 100%;
    text-align: center;
  }
  .p-text {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 29px;
  }
  .p-second-text {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 29px;
  }
  .third-container {
    margin: 10px 0 !important;
    padding: 50px 0 10px 0 !important;
  }
  .intro-btn-mobile {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 18px 26px !important;
  }
  .btn-discord {
    padding: 18px 26px;
    font-size: 13px;
  }
}
