.roadmap-container {
    padding: 3% 10% 7% 10%;
    display: flex;
    justify-content: space-between;

    /*position: absolute;*/
    /*top: 0;*/
    color: #fff;
    z-index: 2;
}
.roadmap-area{
    margin-top: 11em;
}
.roadmap-background {
    /*background-image: url('../public/images/roadmap-bg.png');*/
    /*!*position: relative;*!*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*z-index: 1;*/
}
.roadmap-h1 {
    margin: 100px 0 0 0;
    color: white;
    font-family: "Rubik dirt", sans-serif;
    font-size: 2.9rem;
    line-height: 65px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}
.roadmap-stepper {
    /*z-index: 3;*/
}
.rd-stepper {


}
.roadmap-text-container {
    width: 100%;
    position: relative;
    margin-top: 80px;
}
.Green-dots-icon {
    position: absolute;
    left: -2.6em;
    margin-top: 1.5em;
    z-index: 5;
    animation: dotPulse 3s infinite ease-in-out;
}
@keyframes dotPulse {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.5);
    }
}
.roadmap-section {
    display: flex;
    margin-bottom: 5em;
}
.roadmap-percentage {
    margin: 0 20px;
    font-family: Outfit, sans-serif;
    color: #ececec;
    font-size: 2.81em;
    line-height: 1.55em;
    font-weight: 900;
}
.disabled-roadmap-percentage {
    margin: 0 20px;
    font-family: Outfit, sans-serif;
    color: #505050;
    font-size: 2.81em;
    line-height: 1.55em;
    font-weight: 900;
}
.data-roadmap {
    margin-left: 30px;
}
.roadmap-dotted-lines {
    margin-top: 30px;
}
.disabled-duration {
    margin-top: 0px;
    margin-bottom: 1em;
    font-family: Outfit, sans-serif;
    color: #505050;
    font-size: 1.37em;
    line-height: 1.4em;
    font-weight: 600;
}
.duration {
    margin-top: 0px;
    margin-bottom: 1em;
    font-family: Outfit, sans-serif;
    color: #ffc748;
    font-size: 1.37em;
    line-height: 1.4em;
    font-weight: 600;
}
.disabled-phase {
    margin-top: 0px;
    margin-bottom: 0.3em;
    font-family: Outfit, sans-serif;
    color: #505050;
    font-size: 2.81em;
    line-height: 1.1em;
    font-weight: 900;
}
.phase {
    margin-top: 0px;
    margin-bottom: 0.3em;
    font-family: Outfit, sans-serif;
    color: #00c555;
    font-size: 2.81em;
    line-height: 1.1em;
    font-weight: 900;
}
.disabled-heading {
    font-family: Outfit, sans-serif;
    color: #505050;
    font-size: 1.6em;
    line-height: 1.53em;
    font-weight: 400;
}
.heading {
    font-family: Outfit, sans-serif;
    color: #fff;
    font-size: 1.3em;
    line-height: 1.53em;
    font-weight: 400;
}
.heading-div {
    display: flex;
    margin-bottom: 16px;
}
.roadmap-Dot {
    padding: 6px 10px 15px 0;
    font-family: Outfit, sans-serif;
    color: #fff;
    font-size: 2em;
    line-height: 0.3em;
    font-weight: 700;
}
@media only screen and (max-width: 500px) {
    /*.rd-stepper {*/
    /*    margin: 2em 0;*/
    /*    padding-right: 1.1em;*/
    /*}*/
    .roadmap-area{
        margin-top: 0;
    }
    .roadmap-h1 {
        margin: 0;
        font-size: 1.3rem;
        line-height: 32px;
    }
    .roadmap-dotted-lines {
        display: none;
    }
    .roadmap-container {
        padding-left: 25px;
        padding-right: 15px;
    }
    .data-roadmap {
        margin-left: 10px;
    }
    .disabled-roadmap-percentage {
        margin: 15px 0 0 10px;
        font-size: 1.5em;
    }
    .roadmap-percentage {
        margin: 15px 0 0 10px;
        font-size: 1.5em;
    }
    .disabled-duration {
        font-size: 0.75em;
        margin-bottom: 0.5em;
    }
    .duration {
        font-size: 0.75em;
        margin-bottom: 0.5em;
    }
    .disabled-phase {
        font-size: 1.2em;
    }
    .phase {
        font-size: 1.2em;
    }
    .disabled-heading {
        font-size: 0.9em;
    }
    .heading {
        font-size: 0.9em;
    }
    .roadmap-Dot {
        padding: 1px 10px 10px 0;
        font-size: 1.5em;
        line-height: 0.3em;
        font-weight: 600;
    }
    .Green-dots-icon {
        left: -2.9em;
    }
}